CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
logs/
devel/
.catkin_tools/
bin/
el_isolated/
devel_isolated/
el/
.bashrc.save
.catkin_workspace
.ycm_extra_conf.py
.ycm_extra_conf.pyc
..bashrc.swp
